---
import ProjectCard from './ProjectCard.astro'
---
<style lang="scss">
    @import url('../detail-style.scss');
</style>
<section class="detail row">
    <div class="content">
        <h2>What have i done</h2>
        <p>These are some the projects that I have worked upon.</p>
        <br>
    </div>
    <div class="projects">
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
        <ProjectCard projectName="Project Name" route="project" techIcons={['devicon-adonisjs-original','devicon-aftereffects-plain','devicon-angularjs-plain','devicon-android-plain','devicon-androidstudio-plain']} description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias voluptatem repellendus! Perspiciatis earum quidem nihil beatae. Dolore, nulla laborum."></ProjectCard>
    </div>
</section>